@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: disc; /* Default bullet style */
  padding-left: 40px; /* Default indentation */
  margin-top: 0;
  margin-bottom: 0;
}

ul li {
  margin-bottom: 8px; /* Space between list items */
}

.editor .ql-container {
  border: none !important;
  font-size: 15px;
  line-height: 1.4;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.6) !important;
  font-style: normal !important;
  left: -0px !important;
}

/* Optional: Style the editor content text color */
.ql-editor {
  color: white;
  padding: 0 !important;
}

/* Remove default Quill borders if needed */
.ql-container.ql-snow {
  border: none;
}

.ql-editor:focus {
  outline: none;
}
